@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('/Inter-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter-Light';
  src: url('/Inter-Light.ttf') format('truetype');
  font-weight: lighter;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #323232;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}


h1, b, strong, span {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: bold;
}

h2, a {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

p{
  font-family: 'Inter-Light', sans-serif;
  font-weight: lighter;
}

.text-default-grey {
  color: #868585;
}

.text-default-black{
  color: #323232;
}

h1,h2, p{
  letter-spacing: -0.04em;
}

p{
  line-height: 19px;
  color: black;
}

.bg-primary{
  background-color: #323232;
}

.text-link{
  color: black;
  font-weight: bold;
}

